.admin-headings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-headings h3 {
    font-size: 1rem;
}

.admin-spacing {
    margin-bottom: 30px; 
}

.admin-input-full-width:hover, .admin-input-full-width:focus {
    border: solid 2px #00e768;
    outline: none;
}
  
.admin-input-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.admin-textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    line-height: 1.5rem;
    border: solid 2px #535353;
    transition: all 150ms ease-in-out;
}
  
.admin-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background-color: #00e768;
    color: #fff;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.admin-submit-button:hover {
    transform: translateY(-2px);
    background-color: #00ff73;
}