.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.messages-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
}

.messages-header h1 span {
    color: #6500FF;
}

.messages-header h3 span {
    color: #EEFF00;
}

.messages-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 25px;
    border-radius: 10px;
    background-color: #313131;
    gap: 10px;
    box-shadow: 0px 0px 0px 2px #eeff00e6;
    position: relative;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp {
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    color: #bdbdbd;
}