.log-in-input-full-width:hover, .log-in-input-full-width:focus {
    border: solid 2px #6500FF;
    outline: none;
}
  
.log-in-input-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.log-in-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background-color: #6500FF;
    color: #fff;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.log-in-submit-button:hover {
    transform: translateY(-2px);
    background-color: #7a22ff;
}

.error-log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #e20000;
}