.message-headings {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message-h1 {
    margin-bottom: 30px !important; 
}

.message-input-full-width:hover, .message-input-full-width:focus {
    border: solid 2px #eeff00;
    outline: none;
}
  
.message-input-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.message-textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    line-height: 1.5rem;
    border: solid 2px #535353;
    transition: all 150ms ease-in-out;
}

.message-textarea:hover{
    border: solid 2px #eeff00;
    outline: none;
}
  
.message-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background-color: #eeff00;
    color: #000000;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.message-submit-button:hover {
    transform: translateY(-2px);
    background-color: #f3ff4b;
}