input:hover, input:focus {
    border: solid 2px #eeff00e6;
    outline: none;
}
  
.input-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background-color: #eeff00;
    color: black;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.submit-button:hover {
    transform: translateY(-2px);
    background-color: #f3ff49;
}

